name: Deployment on Shuttle

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    tags:
      - "v*.*.*"

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build
        run: cargo build --verbose

      - name: Collect sources
        run: zip SourceCode.zip Cargo.lock Cargo.toml src/

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: SourceCode.zip
