name: Rust

on:
  push:
    branches: [ "main" ]
    
env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose
    - name: Deploy with Shuttle
      uses: shuttle-hq/deploy-action@v2
      with:
        shuttle-api-key: ${{ secrets.SHUTTLE_API_KEY }}
        project-id: proj_01K2N047B24NMDNY1F0K2VRJ62
        secrets: |
          TELOXIDE_TOKEN = '${{ secrets.TELOXIDE_TOKEN }}'
          
          STANDS4_USER_ID = '${{ secrets.STANDS4_USER_ID }}'
          STANDS4_TOKEN = '${{ secrets.STANDS4_TOKEN }}'
          
